# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/

# Base de Datos (Evitamos subir datos locales al repo)
data/*.db
data/*.db-journal

# Docker
.dockerignore

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db