# --- Entornos Virtuales ---
venv/
env/
.env

# --- Python (Archivos temporales) ---
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# --- Base de Datos (Seguridad y peso) ---
# Ignoramos la base de datos real para no subir datos sensibles
data/*.db
data/*.sqlite3

# --- Docker ---
.dockerignore

# --- Sistema Operativo ---
.DS_Store
Thumbs.db

# --- VS Code ---
.vscode/
*.code-workspace

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example
